
@{
    ViewBag.Title = "DisabledDashBoard";
    Layout = "~/Views/App/_DashBoardLayout.cshtml";
}
@{
   Dictionary<int, double?> distance = ViewData["distance"] as Dictionary<int, double?>;
}

<div>
    <table style="display:block">
        <tbody style="margin: 10px">
            <tr>
                <td><a class="btn btn-primary" href="@Url.Action("RequestDashBoard", "App")" role="button">Зробити запит допомоги</a></td>
            </tr>
            <tr>
                <td><a class="btn btn-primary" href="@Url.Action("MakeRouteDashBoard", "App")" role="button">Побудувати маршрут</a></td>
            </tr>
            <tr>
                <td><a class="btn btn-primary" href="@Url.Action("RequestListDashBoard", "App")" role="button">Переглянути запити</a></td>
            </tr>
            <tr>
                <td><a class="btn btn-primary" href="@Url.Action("ExtraDashBoard", "App")" role="button">Екстрений виклик допомоги</a></td>
            </tr>
        </tbody>
    </table>
    @{
        if (@ViewData["extrdata"] != null)
        {

            <p style="font-weight: bold; font-size: 24px">На ваш запит відповіли! Зачекайте, поки до вас підійдуть.</p>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Ім'я</th>
                        <th scope="col">Відстань</th>
                        <th scope="col">Пройшло часу</th>
                        <th scope="col">Коментар</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var resp in @ViewData["extrdata"] as IEnumerable
                        <MobilityAssist.Models.Responce>)
                    {
                        <tr>
                            <td>
                                @resp.User.first_name @resp.User.last_name
                            </td>
                            <td>
                                @distance[resp.res_id] km                                
                            </td>
                            <td>
                                @{
                                    TimeSpan timeDifference = DateTime.Now - resp.res_date;
                                    string formattedDifference = string.Format("{0} годин, {1} хвилин, {2} секунд",
                                                            timeDifference.Hours,
                                                            timeDifference.Minutes,
                                                            timeDifference.Seconds);
                                }

                                @formattedDifference

                            </td>
                            <td>
                                @resp.res_comm
                            </td>
                        </tr>
                    }
                <tbody>
            </table>
        }
    }
</div>


