@model MobilityAssist.Models.Request
@{
    ViewBag.Title = "MakeRouteDashBoard";
}

<h2>Створити маршрут</h2>

@if (ViewBag.Alert != null)
{
    <p style="border: 1px solid red">
        @ViewBag.Alert
    </p>
}
@{
    var selectaddress = ViewData["addresslist"] as SelectList;
}

@using (Html.BeginForm("MakeRouteResult", "App", FormMethod.Post, htmlAttributes: new { @id = "make_route_post" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.address_id, "Де ви знаходитесь", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.address_id, selectaddress, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.address_id, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.destination_id, "Куди вам треба", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.destination_id, selectaddress, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.destination_id, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group" style="margin-top:12px">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-outline-dark">Побудувати маршрут</button>
        </div>
    </div>
}<a type="button" href="@Url.Action("UserDashBoard", "App")" class="btn btn-light" style="margin-top:12px">Повернутись</a>

 <script>
     document.getElementById('make_route_post').onsubmit = function () {
        var dropdownValue = document.getElementById('address_id').value;
        if (dropdownValue === "") {
            alert('Оберіть адресу');
            return false; // Prevent form submission
        }
        var dropdownDestinationValue = document.getElementById('destination_id').value;
        if (dropdownDestinationValue === dropdownValue) {
            alert('Оберіть різні адреси');
            return false; // Prevent form submission
        }
    };
 </script>