@{
    ViewBag.Title = "RequestListDashBoard";
}
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    var Models = ViewData["requestquery"] as PagedList.IPagedList<MobilityAssist.Models.GetRequests_Result>;
        
}
<h2>Ваші запити</h2>
@using (Html.BeginForm())
{
    <p>
        Знайти за Адресою: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Пошук" />
    </p>
}
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Початок</th>
            <th scope="col">Призначення</th>
            <th>
                @Html.ActionLink("Необхідна допомога", "RequestListDashBoard", new { sortOrder = ViewBag.HelpSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("Дата запиту", "RequestListDashBoard", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("Відстань", "RequestListDashBoard", new { sortOrder = ViewBag.DistSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("Статус", "RequestListDashBoard", new { sortOrder = ViewBag.StateSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var req in Models

            )
        {
            <tr>
                <td>
                    @req.start_street_name, @req.start_address_numb
                </td>
                <td>
                    @if (@req.destination_street_name != null && @req.destination_address_numb != null)
                    {
                        <p>@req.destination_street_name, @req.destination_address_numb</p>
                    }

                </td>
                <td style="font-weight:bolder">
                    @req.help_name
                </td>
                <td>
                    @{
                        string formattedDifference = req.req_date.ToString("HH:mm, dd/MM/yyyy");
                    }

                    @formattedDifference

                </td>
                <td>
                    @if (req.distance != null)
                    {
                        <p>@req.distance km</p>
                    }
                </td>
                <td>
                    @if (req.req_status == false)
                    {
                        <p style="font-weight:bold; color:darkred">Відкритий</p>
                    }
                    else
                    {
                        <p style="font-weight:bold; color:forestgreen">Закритий</p>
                    }

                </td>
                <td>
                    <a href="@Url.Action("DeleteRequest", "App", new { request_id = req.request_id })" class="btn btn-danger">Завершити</a>
                </td>
            </tr>
        }
    <tbody>
</table>
<br />
Сторінка @(Models.PageCount < Models.PageNumber ? 0 : Models.PageNumber) з @Models.PageCount

@Html.PagedListPager(Models, page => Url.Action("RequestListDashBoard",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
<a type="button" href="@Url.Action("UserDashBoard", "App")" class="btn btn-light">Повернутись</a>