@model MobilityAssist.Models.Request

@{
    ViewBag.Title = "Make Request";
}

@using (Html.BeginForm("RequestDashBoard", "App", FormMethod.Post))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Запит про допомогу</h4>
    <hr />

    @if (ViewBag.Message != null)
    {
        <p style="border: 1px solid red">
            @ViewBag.Message
        </p>
    }
    @{
        List<MobilityAssist.Models.HType> helplist = new List<MobilityAssist.Models.HType>();
        List<MobilityAssist.Models.GetAddresses_Result> addresslist = new List<MobilityAssist.Models.GetAddresses_Result>();

        using (MobilityAssist.Models.MobilityAssistEntities db = new MobilityAssist.Models.MobilityAssistEntities())
        {
            helplist = db.HTypes.ToList();
            addresslist = db.GetAddresses().ToList();
        }
    }


    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.address_id, "Де ви знаходитесь", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @{SelectList selectaddress = new SelectList(addresslist, "address_id", "street");
            }
            @Html.DropDownListFor(model => model.address_id, selectaddress, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.address_id, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.destination_id, "Куди вам треба", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.destination_id, selectaddress, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.destination_id, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.help_id, "Яка допомога вам потрібна?", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @{SelectList selecthelp = new SelectList(helplist, "help_id", "help_name");
            }
            @Html.DropDownListFor(model => model.help_id, selecthelp, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.help_id, "", new { @class = "text-danger" })

        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.req_desc, "Додаткові побажання", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.req_desc, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.req_desc, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group" style="margin-top:12px">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-outline-dark">Створити запит</button>
        </div>
    </div>
</div>
}

<div>
    <a type="button" href="@Url.Action("UserDashBoard", "App")" class="btn btn-light" style="margin-top:12px">Повернутись</a>
</div>