@model MobilityAssist.Models.Request
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
@{
    ViewBag.Title = "Make Request";
}
@{
    var selecthelp = ViewData["helplist"] as SelectList;
    var selectaddress = ViewData["addresslist"] as SelectList;      //No empty option
}
@{
    var emptyOption = new SelectListItem { Text = "", Value = "" };
    var addressListWithEmptyOption = new List<SelectListItem> { emptyOption };
    addressListWithEmptyOption.AddRange(selectaddress);     //With empty option
}

@using (Html.BeginForm("RequestDashBoard", "App", FormMethod.Post, htmlAttributes: new { @id = "request_create" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Запит по допомогу</h4>
        <hr />

        @if (ViewBag.Message != null)
        {
            <p style="border: 1px solid red">
                @ViewBag.Message
            </p>
        }

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.address_id, "Де ви знаходитесь", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.address_id, selectaddress, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.address_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.destination_id, "Куди вам треба", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.destination_id, addressListWithEmptyOption, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.destination_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.help_id, "Яка допомога вам потрібна?", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.help_id, selecthelp, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.help_id, "", new { @class = "text-danger" })

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.req_desc, "Додаткові побажання", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.req_desc, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.req_desc, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="margin-top:12px">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-outline-dark">Створити запит</button>
            </div>
        </div>
    </div>
}

<div>
    <a type="button" href="@Url.Action("UserDashBoard", "App")" class="btn btn-light" style="margin-top:12px">Повернутись</a>
</div>

<script>

    $(document).ready(function () {
        // Get references to the dropdowns
        var helpDropdown = $("#help_id");
        var destinationDropdown = $("#destination_id");

        // Disable destination dropdown initially if help_id is not 3
        if (helpDropdown.val() !== "3") {
            destinationDropdown.prop("disabled", true);
        }

        // Attach change event handler to help dropdown
        helpDropdown.change(function () {
            // Enable or disable destination dropdown based on the selected value
            destinationDropdown.prop("disabled", $(this).val() !== "2");
        });
    });

    document.getElementById('request_create').onsubmit = function () {
        var dropdownValue = document.getElementById('address_id').value;
        if (dropdownValue === "") {
            alert('Оберіть адресу');
            return false; // Prevent form submission
        }
        var dropdownDestinationValue = document.getElementById('destination_id').value;
        if (dropdownDestinationValue === dropdownValue) {
            alert('Оберіть різні адреси');
            return false; // Prevent form submission
        }     
    };
</script>