@model MobilityAssist.Models.User

@{
    ViewBag.Title = "Login";
}

<h2>Увійти</h2>

@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
    <fieldset>
        <legend>MobilityAssist</legend>

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        @if (ViewBag.Message != null)
        {
            <p style="border: 1px solid red">
                @ViewBag.Message
            </p>
        }

        <table>
            <tr>
                <td>@Html.LabelFor(a => a.email, "Пошта")</td>
                <td>@Html.TextBoxFor(a => a.email)</td>
                <td>@Html.ValidationMessageFor(a => a.email)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(a => a.password, "Пароль") </td>
                <td>@Html.PasswordFor(a => a.password)</td>
                <td>@Html.ValidationMessageFor(a => a.password)</td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Увійти" /></td>
                <td></td>
            </tr>
        </table>
    </fieldset>
}