@model MobilityAssist.Models.User

@{

    ViewBag.Title = "Register";
}

<h2>Реєстрація</h2>
<br/>


@using (Html.BeginForm("Register", "Home", FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Користувача</h4>
    <hr />

    @if (ViewBag.Message != null)
    {
        <p style="border: 1px solid red; padding: 5px; display: inline-block;">
            @ViewBag.Message
        </p>
    }
    @{
        List<MobilityAssist.Models.Role> rolelist = new List<MobilityAssist.Models.Role>();

        using (MobilityAssist.Models.MobilityAssistEntities db = new MobilityAssist.Models.MobilityAssistEntities())
        {
            rolelist = db.Roles.ToList();
        }
    }

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.email, "Пошта", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.password, "Пароль", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.PasswordFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.first_name, "Ім'я", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.first_name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.first_name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.last_name, "Прізвище", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.last_name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.last_name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.user_role, "Роль", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @{SelectList selecthelp = new SelectList(rolelist, "role_id", "role_name");
            }
            @Html.DropDownListFor(model => model.user_role, selecthelp, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.user_role, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group" ; style="margin-top:12px">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-outline-primary">Заруєструватись</button>
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Повернутись до Логіну", "Login")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
