@model PagedList.IPagedList<MobilityAssist.Models.GetAddresses_Result>
@using PagedList.Mvc;
@*@model  IEnumerable<MobilityAssist.Models.GetAddresses_Result>*@
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "AdminViewAddresses";
}

<h2>Всі адреси</h2>


@using (Html.BeginForm())
{
    <p>
        Знайти за вулицею або ID: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Пошук" />
    </p>
}

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.ActionLink("ID", "AdminViewAddresses", new { sortOrder = ViewBag.IdSortParm })
            </th>
            <th>
                @Html.ActionLink("Адреса", "AdminViewAddresses", new { sortOrder = ViewBag.StreetSortParm })
            </th>
            <th>
                @Html.ActionLink("Чи приналаштована", "AdminViewAddresses", new { sortOrder = ViewBag.AdaptedSortParm })
            </th>
            <th scope="col">Координати</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var address in Model)
        {
            <tr>
                <td>
                    @address.address_id
                </td>

                <td>
                    @address.street
                </td>

                <td>
                    @if (address.is_adaptated == false)
                    {
                        <p style="font-weight:bold; color:darkred">Не адаптовано</p>
                    }
                    else
                    {
                        <p style="font-weight:bold; color:forestgreen">Адаптовано</p>
                    }
                </td>

                <td style="font-weight:bolder">
                    @address.address_coordx, @address.address_coordy
                </td>

                <td>
                    <a href="@Url.Action("UpdateAddress", "Admin", new { address_id = address.address_id })" class="btn btn-secondary">Змінити</a>

                </td>

                <td>
                    <a href="@Url.Action("DeletePageAddress", "Admin", new { address_id = address.address_id })" class="btn btn-danger">Видалити</a>
                </td>
            </tr>
        }
    <tbody>
</table>
<br />
Сторінка @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) з @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("AdminViewAddresses",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

<a href="@Url.Action("CreateAddress", "Admin")" class="btn btn-success" style="margin-top:12px">Додати</a>
<a type="button" href="@Url.Action("UserDashBoard", "App")" class="btn btn-light" style="margin-top:12px">Повернутись</a>